body {
    background-color: #b4bbd6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: sans-serif;
    font-variant: small-caps;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #822b31;
}

hr {
    flex-basis: 100%;
    width: 0;
}
h1 {
    font-size: 5em;
    font-family: sans-serif;
    margin: 0;
    color: #822b31;
}

nav {
    //background-color: white;
    width: 100%;
    //    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

a:visited {
    color: #822b31;
}

nav ul li a {
    font-size: 2em;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* 100%: Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #b4bbd6;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    z-index: 1;
}

.close {
  color: #aaa;
  float: left;
  font-size: 40px;
  font-weight: bold;
  flex-basis: 100%;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
